DB_HOST=""
DB_PORT=""
DB_NAME=""
DB_USER=""
DB_PASSWORD=""
DB_ECHO="false"

CORS_ALLOWED_HOSTS='["*"]'

PROJECT_TITLE="Nerdex API"
PROJECT_DESCRIPTION="API for Nerdex social network"
PROJECT_VERSION="0.1.0"
PROJECT_DEBUG="true"

LOGGING_LEVEL="DEBUG"

ADMIN_SECRET_KEY=""
ADMIN_SESSION_EXPIRE_MINUTES="15"

WS_ALLOWED_HOSTS='["*"]'

REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_DB="0"
REDIS_SOCKETIO_URL="redis://redis:6379/2"

STORAGE_ACCESS_KEY=""
STORAGE_SECRET_KEY=""
STORAGE_ENDPOINT_URL=""
STORAGE_REGION=""
STORAGE_PRIVATE_BUCKET=""
STORAGE_USE_SSL="true"
STORAGE_VERIFY_SSL="true"
STORAGE_ADDRESSING_STYLE="virtual"
STORAGE_PRESIGNED_UPLOAD_TTL_SECONDS="900"
STORAGE_PRESIGNED_DOWNLOAD_TTL_SECONDS="900"

ASSETS_MAX_IMAGE_SIZE_MB="20"
ASSETS_MAX_VIDEO_SIZE_MB="250"
ASSETS_MAX_FILE_SIZE_MB="50"
ASSETS_ORPHAN_GRACE_HOURS="24"
ASSETS_STALE_UPLOAD_GRACE_HOURS="24"
ASSETS_MULTIPART_PART_SIZE_MB="10"

CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/1"
CELERY_MEDIA_QUEUE_NAME="media"

NEO4J_URI="bolt://neo4j:7687"
NEO4J_USER="neo4j"
NEO4J_PASSWORD="password"
NEO4J_DATABASE="neo4j"
