.event {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1e1e1e;
    color: #606060;
    border-radius: 20px;
    max-width: 60%;
    margin: 0 auto;
    white-space: pre-wrap;
}

.event > .username {
    margin: 0;
    color: #808080;
}