.profile-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.profile-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.profile-form h2 {
    font-size: 2rem;
}

.form-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
}

.form-section img {
    width: 15rem;
    aspect-ratio: 1/1;
    border-radius: 10rem;
    cursor: pointer;
    transition: 0.2s;
    object-fit: cover;
    margin-bottom: 1rem;
}

.form-section img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.form-section input {
    font-size: 1.4rem;
}

.form-section button {
    font-size: 1.2rem;
    margin: 0;
}

.actions {
    display: flex;
    flex-direction: column;

}

.logout,
.reset {
    color: #b0b0b0;
    background-color: #404040;
}

.delete {
    color: #ff4d4f;
    background-color: #680909;
}

.logout:hover,
.reset:hover,
.delete:hover,
.logout:focus,
.reset:focus,
.delete:focus {
    opacity: .8;
    box-shadow: none;
    color: #808080;
    background-color: #404040;
}

.delete:hover,
.delete:focus {
    color: #ff4d4f;
    background-color: #680909;
}

.delete .spin {
    border-color: #ff4d4f;
}

/* image modal */

.profile-form .image-form {
    /* width: 25rem; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.image-form img {
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    border: .3rem solid #474747;
    background-color: #202020;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: #474747;
    font-weight: 900;
    margin-bottom: 2rem;
    transition: all 0.2s linear;
    object-fit: cover;
}

.image-form img:hover {
    opacity: 0.8;
    background-color: #191919;
}

.image-form .img-span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-form input {
    display: none;
}

.image-form button {
    font-size: 1.2rem;
    margin: 0;
}