#save-chat-form {
    /* height: 70vh; */
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
}

#save-chat-form h1 {
    font-size: 2rem;
}

#save-chat-form button,
#save-chat-form input {
    font-size: 1.2rem;
    margin-top: 1rem;
}

#save-chat-form input {
    border-width: 2px;
}

.chat-private {
    width: 100%;
}

.chat-private label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    padding: 10px 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: all .2s linear;
    cursor: pointer;
}

.chat-private label:hover {
    opacity: .8;
}

.chat-private [type="radio"],
.chat-private [type="checkbox"] {
    display: none;
}

.chat-private label::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    margin-right: 15px;
    vertical-align: middle;
    transition: all .1s ease-in-out;
    border-radius: .2rem;
}

.chat-private [type="checkbox"]:checked+label {
    border-color: #9D50FF;
    color: #9D50FF;
    transition: all .1s ease-in-out;
}

.chat-private [type="checkbox"]:checked+label::before {
    background-color: #9D50FF;
    border-color: #9D50FF;
    transition: all .1s ease-in-out;
}